#banner {
    background-color: #154c79;
    display: flex; 
    justify-content: space-around;
    border-radius: 15px;
    color: #76b5c5;
    padding: 10px;
}

#projectsbutton, #programsbutton {
    color: #76b5c5;
    background-color:#1e81b0;
    border-radius: 15px;
}

#homebutton {
    color: #76b5c5;
    background-color:#cce6f1;
    border-radius: 50%;
}

.fa-home {
    font-size: 50px;
}

body {
    background-color: #abdbe3
}

#pagebody {
    display: flex;
}

#pagetext {
    margin-top: 10px;
    font-size: 25px;
    margin-left: 9px;
    border: 5px solid #1e81b0;
    border-radius: 15px;
    background-color: #e28743
}

#portrait {
    margin-top: 10px;
    border: 5px solid #154c79;
    border-radius: 15px;
    width: 400px;
}