body {
    background-color: #abdbe3
}

.fa-home {
    font-size: 50px;
}

.projectbackground {
    background-color:#1e81b0;
    border-radius: 15px;
}

#projects {
    font-weight: bold;
    font-size:15px;
}

#header {
    text-align: center;
    color: #76b5c5;
    border: 5px solid #1e81b0;
    border-radius: 15px;
    background-color: #154c79
}

#banner {
    background-color: #154c79;
    display: flex; 
    justify-content: space-around;
    border-radius: 15px;
    color: #76b5c5;
    align-items: center;
}

#bannerlink {
    text-decoration: none;
    color: #76b5c5;
}